.is-palindrome {
    color: #0000FF;
}

.not-palindrome {
    color: #FF0000;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {
    height: 450px
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.column {
	float: left;
    margin: 0 0 0 0;
    width: 30%;
}

ul{
	margin-left: 30px;
    padding: 0 0 0 0;
    display: inline-block;
    *display: inline;
}

li{
	width:300px;
	word-wrap: break-word;
}


footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}